@model IEnumerable<TenBackend.Models.TenMsg>

@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<h2>Notification</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model => model.MsgIndex)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.PhoneType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MsgContent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MsgIndex)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MsgContent)
        </td>
        <td>
            <!--
            @Html.ActionLink("Edit", "Edit", new { id=item.MsgIndex }) |
            @Html.ActionLink("Details", "Details", new { id=item.MsgIndex }) |
                -->
            @Html.ActionLink("Delete", "Delete", new { id=item.MsgIndex })
        </td>
    </tr>
}

</table>
