@model TenBackend.Models.Msg

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Msg</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.msg_sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg_sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msg_receiver)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg_receiver)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msg_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.msg_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.msg_content)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.msg_index }) |
    @Html.ActionLink("Back to List", "Index")
</p>
