@model IEnumerable<TenBackend.Models.TenUser>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.birth_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.joined_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.last_login_datetime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.p_coin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.outer_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.inner_score)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.energy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.latitude)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.longitude)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.user_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.birth_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.joined_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.last_login_datetime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.p_coin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.outer_score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.inner_score)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.energy)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.latitude)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.longitude)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.user_index }) |
            @Html.ActionLink("Details", "Details", new { id=item.user_index }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.user_index })
        </td>
    </tr>
}

</table>
